<div class="background-image"></div>
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card shadow-lg">
                <div class="card-header bg-info text-white">{{cityName}}</div>
                <div class="card-body" *ngIf="data">
                    <p class=" bg-info text-white" >Geographical </p>
                    <table class="w-100">
                        <tr>
                            <td>Country code</td>
                            <th>{{data.sys.country}}</th>
                        </tr>
                        <tr>
                            <td>Longitude</td>
                            <th>{{data.coord.lon}}</th>
                        </tr>
                        <tr>
                            <td>Latitude</td>
                            <th>{{data.coord.lat}}</th>
                        </tr>
                        <tr>
                            <td>Time zone</td>
                            <th>{{data.timezone}}</th>
                        </tr>
                    </table>
                    <br>
                    <p class="bg-info text-white">Weather</p>
                    <table class="w-100">
                        <tr>
                            <td>Weather</td>
                            <th><img src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png"></th>
                        </tr>
                        <tr>
                            <td>weather status</td>
                            <th>{{data.weather[0].main}}</th>
                        </tr>
                        <tr>
                            <td>weather description</td>
                            <th>{{data.weather[0].description}}</th>
                        </tr>
                    </table>
                    <br><p class="bg-info text-white">Temparature</p>
                    <table class="w-100">
                        <tr>
                            <td>Temperature</td>
                            <th>{{data.main.temp}}</th>
                        </tr>
                        <tr>
                            <td>Min Temp</td>
                            <th>{{data.main.temp_min}}</th>
                        </tr>
                        <tr>
                            <td>Max Temp</td>
                            <th>{{data.main.temp_max}}</th>
                        </tr>
                        <tr>
                            <td>Feels Like</td>
                            <th>{{data.main.feels_like}}</th>
                        </tr>
                    </table>
                    <br><p class="bg-info text-white ">More....</p>
                    <table class=w-100>
                        <tr>
                            <td>Pressure</td>
                            <th>{{data.main.pressure}}</th>
                        </tr>
                        <tr>
                            <td>Humidity</td>
                            <th>{{data.main.humidity}}</th>
                        </tr>
                        <tr>
                            <td>wind speed</td>
                            <th>{{data.wind.speed}}</th>
                        </tr>
                        <tr>
                            <td>wind Degrees</td>
                            <th>{{data.wind.deg}}</th>
                        </tr>
                        <tr>
                            <td>Total clouds</td>
                            <th>{{data.clouds.all}}</th>
                        </tr>
                        <tr>
                            <td>sunrise</td>
                            <th>{{data.sys.sunrise}}</th>
                        </tr>
                        <tr>
                            <td>sunset</td>
                            <th>{{data.sys.sunset}}</th>
                        </tr>
                    </table>
                </div>
                <div class="card-body" *ngIf="!data">
                    Loading ...
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-8">
                            <input type="text
                            
                            "  [(ngModel)]="search" class="form-control">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-danger btn-block" (click)="fetchInfo()">Fetch</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
